In [1]:
import datetime, warnings, time
import numpy as np
import pandas as pd
import dask.array as da
import dask.dataframe as dd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patches as patches
from matplotlib.patches import ConnectionPatch
from collections import OrderedDict
from matplotlib.gridspec import GridSpec
# from mpl_toolkits.basemap import Basemap
plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.options.display.max_columns = 50
%matplotlib inline
warnings.filterwarnings("ignore")

## Divinding the dataset into chunks

In [51]:
delays = {}
total_rows = 10915496
num_rows = 1000000
it = total_rows//num_rows
for i in range(it):
    s = time.time()
    delays["part_{}".format(i)] = pd.read_csv('../data/FlightDelays.csv', skiprows=i*num_rows, nrows=num_rows, low_memory=False)
    if i == 0:
        col_names = delays["part_{}".format(i)].columns
        delays["part_{}".format(i)] = delays["part_{}".format(i)].rename(columns={'Route': 'ROUTE'})
    else:
        delays["part_{}".format(i)].columns = col_names
        delays["part_{}".format(i)] = delays["part_{}".format(i)].rename(columns={'Route': 'ROUTE'})
    print("Rows {0} - {1} loaded in {2} s.".format(i*num_rows, (i+1)*num_rows, time.time()-s))
# Load last chunk
s = time.time()
delays["part_{}".format(it)] = pd.read_csv('../data/FlightDelays.csv', skiprows=it*num_rows, nrows=total_rows - it*num_rows, low_memory=False)
delays["part_{}".format(i)].columns = col_names
delays["part_{}".format(it)] = delays["part_{}".format(i)].rename(columns={'Route': 'ROUTE'})
print("Rows {0} - {1} loaded in {2} s.".format(it*num_rows, total_rows, time.time()-s))

Rows 0 - 1000000 loaded in 7.96874213218689 s.
Rows 1000000 - 2000000 loaded in 9.593935251235962 s.
Rows 2000000 - 3000000 loaded in 10.09010100364685 s.
Rows 3000000 - 4000000 loaded in 10.0872802734375 s.
Rows 4000000 - 5000000 loaded in 11.099240779876709 s.
Rows 5000000 - 6000000 loaded in 11.751289129257202 s.
Rows 6000000 - 7000000 loaded in 12.935537099838257 s.
Rows 7000000 - 8000000 loaded in 15.804089069366455 s.
Rows 8000000 - 9000000 loaded in 15.713647842407227 s.
Rows 9000000 - 10000000 loaded in 16.99952006340027 s.
Rows 10000000 - 10915496 loaded in 18.568474054336548 s.

## Pick a data chunk to design data cleaning operations

1. Change column types to categorical, numeric, and datetime
2. Perform imputation to fill missing values
    * Grouped by airport, airline, year, quarter, month, day of month, day of week
3. Change all the `float64` columns except `NET_INCOME` and `OP_REVENUES` to `integer`after imputation

In [130]:
test = delays['part_1'].copy()

In [131]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 50 columns):
YEAR                   1000000 non-null int64
QUARTER                1000000 non-null int64
MONTH                  1000000 non-null int64
DAY_OF_MONTH           1000000 non-null int64
DAY_OF_WEEK            1000000 non-null int64
FL_DATE                1000000 non-null object
CARRIER                1000000 non-null object
FL_NUM                 1000000 non-null int64
ROUTE                  1000000 non-null int64
ORIGIN                 1000000 non-null object
DEST                   1000000 non-null object
DEST_CITY              1000000 non-null object
DEST_STATE             1000000 non-null object
CRS_DEP_TIME           1000000 non-null int64
DEP_TIME               978593 non-null float64
DEP_DELAY              977326 non-null float64
DEP_DELAY_NEW          977326 non-null float64
DEP_DEL15              977326 non-null float64
DEP_DELAY_GROUP        977326 non-null float64
DEP_TIME_BLK           1000000 non-null object
TAXI_OUT               978246 non-null float64
WHEELS_OFF             978247 non-null float64
WHEELS_ON              977727 non-null float64
TAXI_IN                977727 non-null float64
CRS_ARR_TIME           1000000 non-null int64
ARR_TIME               977727 non-null float64
ARR_DELAY              975539 non-null float64
ARR_DELAY_NEW          975539 non-null float64
ARR_DEL15              975539 non-null float64
ARR_DELAY_GROUP        975539 non-null float64
ARR_TIME_BLK           1000000 non-null object
CANCELED               1000000 non-null int64
CANCELLATION_CODE      21859 non-null object
DIVERTED               1000000 non-null int64
CRS_ELAPSED_TIME       999993 non-null float64
ACTUAL_ELAPSED_TIME    976257 non-null float64
AIR_TIME               976257 non-null float64
DISTANCE               1000000 non-null int64
CARRIER_DELAY          166384 non-null float64
WEATHER_DELAY          166384 non-null float64
NAS_DELAY              166384 non-null float64
SECURITY_DELAY         166384 non-null float64
LATE_AIRCRAFT_DELAY    166384 non-null float64
PASSENGERS             998890 non-null float64
EMPFULL                998890 non-null float64
EMPPART                998890 non-null float64
EMPTOTAL               998890 non-null float64
EMPFTE                 998890 non-null float64
NET_INCOME             998890 non-null float64
OP_REVENUES            998890 non-null float64
dtypes: float64(29), int64(12), object(9)
memory usage: 381.5+ MB

In [132]:
test.head().T

,0,1,2,3,4
YEAR,2018,2018,2018,2018,2018
QUARTER,1,1,1,1,1
MONTH,2,2,2,2,2
DAY_OF_MONTH,19,19,19,19,20
DAY_OF_WEEK,1,1,1,1,2
FL_DATE,2018-02-19,2018-02-19,2018-02-19,2018-02-19,2018-02-20
CARRIER,WN,WN,WN,WN,WN
FL_NUM,1095,1760,1074,212,1095
ROUTE,3625,3625,3625,3625,3625
ORIGIN,MCI,MCI,MCI,MCI,MCI
DEST,LAS,LAS,LAS,LAS,LAS
DEST_CITY,"Las Vegas, NV","Las Vegas, NV","Las Vegas, NV","Las Vegas, NV","Las Vegas, NV"
DEST_STATE,NV,NV,NV,NV,NV
CRS_DEP_TIME,525,1120,1500,1925,525
DEP_TIME,522,1119,1459,2054,523
DEP_DELAY,-3,-1,-1,89,-2
DEP_DELAY_NEW,0,0,0,89,0
DEP_DEL15,0,0,0,1,0
DEP_DELAY_GROUP,-1,-1,-1,5,-1
DEP_TIME_BLK,0001-0559,1100-1159,1500-1559,1900-1959,0001-0559
TAXI_OUT,11,6,10,8,23
WHEELS_OFF,533,1125,1509,2102,546
WHEELS_ON,628,1223,1559,2156,639
TAXI_IN,4,4,5,4,4
CRS_ARR_TIME,640,1230,1610,2040,640
ARR_TIME,632,1227,1604,2200,643
ARR_DELAY,-8,-3,-6,80,3
ARR_DELAY_NEW,0,0,0,80,3
ARR_DEL15,0,0,0,1,0
ARR_DELAY_GROUP,-1,-1,-1,5,0
ARR_TIME_BLK,0600-0659,1200-1259,1600-1659,2000-2059,0600-0659
CANCELED,0,0,0,0,0
CANCELLATION_CODE,NaN,NaN,NaN,NaN,NaN
DIVERTED,0,0,0,0,0
CRS_ELAPSED_TIME,195,190,190,195,195
ACTUAL_ELAPSED_TIME,190,188,185,186,200
AIR_TIME,175,178,170,174,173
DISTANCE,1139,1139,1139,1139,1139
CARRIER_DELAY,NaN,NaN,NaN,50,NaN
WEATHER_DELAY,NaN,NaN,NaN,0,NaN
NAS_DELAY,NaN,NaN,NaN,0,NaN
SECURITY_DELAY,NaN,NaN,NaN,0,NaN
LATE_AIRCRAFT_DELAY,NaN,NaN,NaN,30,NaN
PASSENGERS,13973,13973,13973,13973,13973
EMPFULL,55776,55776,55776,55776,55776
EMPPART,2117,2117,2117,2117,2117
EMPTOTAL,57893,57893,57893,57893,57893
EMPFTE,56835,56835,56835,56835,56835
NET_INCOME,450336,450336,450336,450336,450336
OP_REVENUES,4.81271e+06,4.81271e+06,4.81271e+06,4.81271e+06,4.81271e+06

In [133]:
# Read description excel file
desc = pd.read_excel('../data/FlightDataDescription.xlsx')

In [134]:
def get_column_types(df):
    cat_, num_, dt_ = [], [], []
    for _, row in df.iterrows():
        if row['TYPE'] == 'Nominal' or row['TYPE'] == 'Ordinal' or row['TYPE'] == 'Binary':
            cat_.append(row['ATTRIBUTE'])
        if row['TYPE'] == 'Interval':
            num_.append(row['ATTRIBUTE'])
        if row['TYPE'] == 'yyyymmdd':
            dt_.append(row['ATTRIBUTE'])
    return cat_, num_, dt_

In [135]:
cats, nums, dts = get_column_types(desc)

In [136]:
# Add other date stats
cats.extend(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK'])

## Convert the categorical data

In [137]:
def convert_nan(df, cols):
    start = time.time()
    for col in cols:
        df[col] = df[col].fillna(-9999)
    print("Converted all null values to -9999 in {} s.".format(time.time() - start))

In [138]:
def convert_to_categorical(df, cols):
    start = time.time()
    for col in cols:
        df[col] = df[col].astype('category')
    print("Converted to categorical columns in {} s.".format(time.time() - start))

In [139]:
def convert_to_integer(df, cols):
    start = time.time()
    for col in cols:
        df[col] = pd.to_numeric(df[col], downcast='integer', errors='ignore')
    print("Converted to numeric columns in {} s.".format(time.time() - start))

In [140]:
def convert_to_datetime(df, cols):
    start = time.time()
    for col in cols:
        df[col] = pd.to_datetime(df[col])
    print("Converted to datetime columns in {} s.".format(time.time() - start))

In [141]:
convert_nan(test, cats + nums)

Converted all null values to -9999 in 1.0817339420318604 s.

In [142]:
convert_to_categorical(test, cats)

Converted to categorical columns in 2.336487054824829 s.

In [143]:
convert_to_integer(test, nums)

Converted to numeric columns in 2.293158769607544 s.

In [144]:
convert_to_datetime(test, dts)

Converted to datetime columns in 0.2363567352294922 s.

In [145]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 50 columns):
YEAR                   1000000 non-null category
QUARTER                1000000 non-null category
MONTH                  1000000 non-null category
DAY_OF_MONTH           1000000 non-null category
DAY_OF_WEEK            1000000 non-null category
FL_DATE                1000000 non-null datetime64[ns]
CARRIER                1000000 non-null object
FL_NUM                 1000000 non-null category
ROUTE                  1000000 non-null category
ORIGIN                 1000000 non-null category
DEST                   1000000 non-null category
DEST_CITY              1000000 non-null category
DEST_STATE             1000000 non-null category
CRS_DEP_TIME           1000000 non-null int16
DEP_TIME               1000000 non-null int16
DEP_DELAY              1000000 non-null int16
DEP_DELAY_NEW          1000000 non-null int16
DEP_DEL15              1000000 non-null category
DEP_DELAY_GROUP        1000000 non-null category
DEP_TIME_BLK           1000000 non-null category
TAXI_OUT               1000000 non-null int16
WHEELS_OFF             1000000 non-null int16
WHEELS_ON              1000000 non-null int16
TAXI_IN                1000000 non-null int16
CRS_ARR_TIME           1000000 non-null int16
ARR_TIME               1000000 non-null int16
ARR_DELAY              1000000 non-null int16
ARR_DELAY_NEW          1000000 non-null int16
ARR_DEL15              1000000 non-null category
ARR_DELAY_GROUP        1000000 non-null category
ARR_TIME_BLK           1000000 non-null category
CANCELED               1000000 non-null category
CANCELLATION_CODE      1000000 non-null category
DIVERTED               1000000 non-null category
CRS_ELAPSED_TIME       1000000 non-null int16
ACTUAL_ELAPSED_TIME    1000000 non-null int16
AIR_TIME               1000000 non-null int16
DISTANCE               1000000 non-null int16
CARRIER_DELAY          1000000 non-null int16
WEATHER_DELAY          1000000 non-null int16
NAS_DELAY              1000000 non-null int16
SECURITY_DELAY         1000000 non-null int16
LATE_AIRCRAFT_DELAY    1000000 non-null int16
PASSENGERS             1000000 non-null int32
EMPFULL                1000000 non-null int32
EMPPART                1000000 non-null int16
EMPTOTAL               1000000 non-null int32
EMPFTE                 1000000 non-null int32
NET_INCOME             1000000 non-null float64
OP_REVENUES            1000000 non-null float64
dtypes: category(20), datetime64[ns](1), float64(2), int16(22), int32(4), object(1)
memory usage: 112.2+ MB

40% reduction in memory! It will be further reduced after imputation.

## Imputation

In [20]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
CRS_DEP_TIME,1000000.0,1.326464e+03,4.857899e+02,1.00,915.0,1320.00,1730.0,2359.0
DEP_TIME,976576.0,1.332650e+03,4.963033e+02,1.00,921.0,1328.00,1738.0,2400.0
DEP_DELAY,975611.0,9.477413e+00,4.632530e+01,-51.00,-6.0,-2.00,6.0,2482.0
DEP_DELAY_NEW,975611.0,1.292271e+01,4.519102e+01,0.00,0.0,0.00,6.0,2482.0
TAXI_OUT,976110.0,1.801321e+01,1.054316e+01,1.00,12.0,15.00,21.0,178.0
WHEELS_OFF,976110.0,1.358663e+03,4.963074e+02,1.00,938.0,1342.00,1753.0,2400.0
WHEELS_ON,975289.0,1.477881e+03,5.189692e+02,1.00,1058.0,1513.00,1912.0,2400.0
TAXI_IN,975289.0,7.540325e+00,5.819347e+00,1.00,4.0,6.00,9.0,258.0
CRS_ARR_TIME,1000000.0,1.494522e+03,5.107359e+02,1.00,1110.0,1521.00,1919.0,2400.0
ARR_TIME,975289.0,1.483272e+03,5.228509e+02,1.00,1103.0,1517.00,1917.0,2400.0
ARR_DELAY,973085.0,3.199410e+00,4.860275e+01,-94.00,-17.0,-7.00,7.0,2475.0
ARR_DELAY_NEW,973085.0,1.291705e+01,4.475466e+01,0.00,0.0,0.00,7.0,2475.0
CRS_ELAPSED_TIME,1000000.0,1.437522e+02,7.409131e+01,22.00,90.0,125.00,175.0,704.0
ACTUAL_ELAPSED_TIME,973516.0,1.379237e+02,7.346862e+01,16.00,84.0,120.00,169.0,739.0
AIR_TIME,973516.0,1.123816e+02,7.170685e+01,8.00,60.0,94.00,143.0,696.0
DISTANCE,1000000.0,7.967454e+02,5.929920e+02,31.00,357.0,638.00,1035.0,4983.0
CARRIER_DELAY,177103.0,2.075760e+01,6.484674e+01,0.00,0.0,0.00,18.0,2007.0
WEATHER_DELAY,177103.0,4.501539e+00,3.536642e+01,0.00,0.0,0.00,0.0,2475.0
NAS_DELAY,177103.0,1.490619e+01,3.337192e+01,0.00,0.0,3.00,20.0,1515.0
SECURITY_DELAY,177103.0,8.570154e-02,2.860770e+00,0.00,0.0,0.00,0.0,593.0
LATE_AIRCRAFT_DELAY,177103.0,2.541070e+01,5.080243e+01,0.00,0.0,1.00,30.0,2454.0
PASSENGERS,998489.0,1.318718e+04,1.340242e+04,100.00,3491.0,8018.00,18940.0,88799.0
EMPFULL,998489.0,4.384847e+04,3.487289e+04,3224.00,10690.0,55486.00,76150.0,94303.0
EMPPART,998489.0,5.628962e+03,5.080314e+03,7.00,1937.0,2774.00,11244.0,13197.0
EMPTOTAL,998489.0,4.947743e+04,3.942397e+04,3237.00,13779.0,57567.00,87394.0,107500.0
EMPFTE,998489.0,4.666330e+04,3.713132e+04,3231.00,12414.0,56527.00,81772.0,100902.0
NET_INCOME,998489.0,1.841064e+05,1.707587e+05,-3593.77,23052.0,127138.49,325483.0,450336.0
OP_REVENUES,998489.0,2.683636e+06,2.640993e+06,446.01,394363.8,1730210.46,4812708.0,7162960.0

In [ ]:
test = convert